<div [formGroup]="adresseForm">
  <entree-texte formControlName="porte" (blur)="onTouched()" libelle="Porte"></entree-texte><br>
  <entree-texte formControlName="numeroCivique" (blur)="onTouched()" libelle="Numero civique"></entree-texte><br>
  <entree-texte formControlName="rue" (blur)="onTouched()" libelle="Rue"></entree-texte><br>
  <entree-texte formControlName="codePostal" (blur)="onTouched()" libelle="Code postal" masque="S0S 0S0"></entree-texte><br>
  <entree-texte formControlName="ville" (blur)="onTouched()" libelle="Ville"></entree-texte><br>
</div>
