
Forcer adresse à Québec:

<input type="checkbox" [(ngModel)]="estAdresseAQuebec" libelle="AvecNgModel">

<div [formGroup]="form">
  <entree-texte formControlName="prenom" libelle="Prénom"></entree-texte><br>
  <entree-texte formControlName="nom" libelle="Nom"></entree-texte><br>
  <adresse formControlName="adresse" [adresseAQuebec]="estAdresseAQuebec"></adresse>
  <button (clic)="soumettre()" type="button">Soumettre</button>
</div>

<pre>
  {{ log }}
</pre>


<!-- <adresse [(ngModel)]="ngModelAdresse" [adresseAQuebec]="estAdresseAQuebec"></adresse>
<p>{{ ngModelAdresse | json }}</p> -->
